.top-table tr {
    font-size: 20px;
    background-color: black;
    color: white;
}

.top-table td {
    width: 43px;
    border: 5px solid white;
    padding: 5px 10px;
    text-align: center;
}

.top-table tr:hover {
    opacity: 0.7;
}

.top-table td:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.top-table img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.bottom-table {
    border: 10px;
}

.bottom-table tr:hover {
    background-color: gray;
}

.bottom-table td {
    font-size: 10px;
    border: 5px solid gray;
    text-align: center;
}

.bottom-table img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}